/* Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        list-style: none;
        text-decoration: none;
    }
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {	text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
*{ font-family: "Microsoft Yahei"; color: #fefefe;font-size: 14px;}
/*header*/

#header{width: 100%;height: 60px; background-color: #b6321e; position: fixed;top:0;z-index: 21;}
.header{width: 1100px;margin: 0 auto;}
.header-logo{float: left; position: relative;top: 20px;left: 100px;}
.logo{position: absolute; z-index: 10; left: -40px;top: -15px;width: 88px;}
.logo-bg{position: absolute;z-index: 2; left: -94px;top: -94px; width: 100%;}
.rotate-img{width: 190px;}

/*.rotate-img{
	float: left;
	position: absolute;

	width: 190px;
	transform-origin:;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-drution:1s;
	-webkit-animation:rotate 50s linear infinite;

	-o-transition-property:-o-transform;
	-o-transition-drution:1s;
	-o-animation:rotate 150s linear infinite;

	-moz-transition-property:-moz-transform;
	-moz-transition-duration:1s;
	-moz-animation:rotate 150s linear infinite;
}
/*define rotate*/
/*@-webkit-keyframes rotate{
	from{-webkit-transform:rotate(0deg)}
	to{-webkit-transform:rotate(360deg)}
}
@-o-keyframes rotate{
	form{-o-transform:rotate(0deg)}
	to{-o-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
	form{-moz-transform:rotate(0deg)}
	to{-moz-transform:rotate(360deg)}
*//*}*/
/*@keyframes rotate{
	from{transform:rotate(0deg)}
	to{-transform:rotate(360deg)}
}*/


.header-nav{overflow: hidden; text-align: center;display: inline-block;position: relative;left: 50%;margin-left: -350px;}
.header-nav li{width: 100px;float: left;overflow: hidden;line-height: 60px;}
.header-nav li:hover{background-color: #a3210d;}

.login-btn{overflow: hidden;float: right;width: 120px;height: 30px;border-radius: 15px;background-color: #f5a816;margin: 15px 0;}
.login{width: 59px;text-align: center;float: left;line-height: 18px;margin: 6px 0; border-right: solid 1px #f07c0b;pointer:courser;}
.sign-in{width: 60px;text-align: center;line-height: 18px;margin: 6px 0;float: right;}


/*footer*/
#footer{width: 100%;height: 40px; background-color: #b6321e;text-align: center;line-height: 40px;position: fixed;bottom: 0; z-index: 20;font-size: 14px}
.support{text-decoration: none;color: white;font-size: 14px;}

html,body{height: 100%;overflow: hidden;}
/*body*/
.index-body{width: 100%; height: 100%;position: absolute;top: 0;z-index: 1;}
/*background*/
.background-01{background-image: url(../images/background-01.jpg);background-position: center;}
.background-02{background-image: url(../images/background-02.jpg);background-position: center;}
.background-03{background-image: url(../images/background-03.jpg);background-position: center;}
.background-04{background-image: url(../images/background-04.jpg);background-position: center;}
/*btn*/
.content{width: 900px;position: fixed; z-index: 30;bottom: 0px ;left: 50%;margin-left: -440px;}
.btns{position: absolute;bottom: 100px;}
.btns li {float: left;width: 100px;height: 100px; cursor: pointer; border-radius: 50%;box-shadow: 0 2px 4px rgba(0,0,0,0.2)}
/*btns hover*/
.btn01{background-image: url(../images/icon-express.png);}
.btn01:hover{background-image: url(../images/icon-express-green.png);}
.btn02{margin: 0 87.5px;background-image: url(../images/icon-order.png);}
.btn02:hover{background-image: url(../images/icon-order-green.png);}
.btn03{background-image: url(../images/icon-chef.png);}
.btn03:hover{background-image: url(../images/icon-chef-green.png);}
.btn04{margin: 0 87.5px;background-image: url(../images/icon-food.png);}
.btn04:hover{background-image: url(../images/icon-food-green.png);}
.btn05{background-image: url(../images/icon-wechat.png);}
.btn05:hover{background-image: url(../images/icon-wechat-green.png);}